export(Amatrix)
export(CrossValidation.R)
export(GmodCross3)
export(coefcorr)
export(cokrig)
export(crossvariogram)
export(grid)
export(lmc)
export(plot.crossvariogram)
import(flexclust)
import(matrixcalc)