import(MASS)
import(flexclust)
import(matrixcalc)

export(Amatrix)
export(GmodCross3)
export(coefcorr)
export(cokrig)
export(crossvariogram)
export(GRID_MGSR)
export(n_pairs_opt)
export(lmc)
export(plot.crossvariogram)
export(CrossValidation)
